# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Fastlane
Stoneware/fastlane/report.xml
Stoneware/fastlane/Preview.html
Stoneware/fastlane/test_output
Stoneware/fastlane/api_key.json
Stoneware/fastlane/README.md
**/*.ipa
**/*.dSYM.zip

# Ruby
.bundle/
vendor/

# Misc
node_modules/
dist/
